@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/neo.css';

.dataEditor {
    flex-grow: 1;
    position: relative;
}

.dataEditor .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.dataEditor .CodeMirror .CodeMirror-scroll {
    font-family: monospace;
    font-size: 14px;
}

.cm-s-json-dark .CodeMirror-matchingbracket,
.cm-s-json-dark .CodeMirror-matchingtag {
    color: #ef8a92 !important;
    border-bottom-color: rgba(52, 112, 223, 0.1) !important;
}

.CodeMirror-hints {
    border: none;
    background: #2a2a35;
}

.CodeMirror-hint {
    color: #bbb;
    padding: 5px;
}

li.CodeMirror-hint-active {
    background-color: rgba(52, 112, 223, 0.1) !important;
    color: #3470df;
}

.FileEditor--loader {
    background: #2a2a35;
}

.CodeMirror-lint-tooltip {
    background: #32323b;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 18px;
    color: white;
    padding: 10px;
}

.CodeMirror-lint-message-error {
    background-image: none;
    padding-left: 0;
}

