body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Segoe UI, sans-serif, ubuntu;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #252426;
    color: #afafaf;
    line-height: 1.42857143;
}
